<html>
  <head>
    <title>Simple Cloud Auth Server</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-3">Simple Cloud Auth Server</h1>
      </div>
      <h3>Update Passsword</h3>
      <br>
      <form method="POST" name="updatePasswordForm">
        <p>Enter username <input type='text' name="username" onChange="validate()"> </p>
        <p>Enter old password <input type='password' name="oldPassword" onChange="validate()"> </p>
        <p>Enter new password <input type='password' name="newPassword" onChange="validate()"> </p>
        <input type="submit" class="btn btn-primary" value="Update" id="formSubmit" disabled="true" title="Make sure you have filled input fields, passwords should not match">
        <!-- make sure password and new pass is not same -->
        <!-- make sure new pass is 8 char long -->
      </form>
      <br><br><br>
      <p>Click <a href="/">here</a> to go home.</p>
    </div>
    <script>
    function validate() {
      let u = document.forms["updatePasswordForm"]["username"].value;
      let p1 = document.forms["updatePasswordForm"]["oldPassword"].value;
	  let p2 = document.forms["updatePasswordForm"]["newPassword"].value;
      if (u == "" || p1 == "" || p2 == "") {
        console.log("Field(s) are empty");
        document.getElementById("formSubmit").disabled = true;
      }
      else if (p2.length < 8) {
          alert("password should be more than 8 characters")
          document.getElementById("formSubmit").disabled = true;
      }
	  else if (p1 == p2) {
		  alert("passwords should not be same");
		  document.getElementById("formSubmit").disabled = true;
	  }
      else {
          console.log("all good");
          document.getElementById("formSubmit").disabled = false;
      }
    }
    </script>
  </body>
</html>